<div class="col-md-2" id="left">
<a href="/admin/mobilemanage"><button class="btn btn-info mt-2">Mobile Management</button></a>
<a href="/admin/querymanage"><button class="btn btn-info mt-2">Query Management</button></a>
<a href="/admin/add"><button class="btn btn-info mt-2">Address Management</button></a>
<a href="/admin/fashionmanage"><button class="btn btn-info mt-2">Fashion Management</button></a>

<a href="/admin/othermanage"><button class="btn btn-info mt-2">Other Manage</button></a>

</div>