#header{
    background: rgb(5, 169, 87);
    padding: 10px 0px;
    font-size: x-large;
    font-weight: bold;
}
#header button{
    float: right;
}
#header a{
    text-decoration: none;
    color:rgb(218, 246, 6);
}
#header a:hover{
   text-decoration: underline;
    color:blue;
}
#footer{
    background: rgb(96, 96, 171);
    padding: 10px 0px;
    margin-top: 30px;
}
#footer h4{
    text-align: center;
}
#mid img{
    width: 100px;
    width: 120px;
}
p{
    text-align: justify;
}
#left a button{
    width: 185px;
}